<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kuadrant API</title>
        <style>
        .container {
            width: 50%;
            margin: auto;
        }
        .i8 {
          height: 75px;
        }
        .i9 {
          height: 150px;
        }
        .nav {
            padding: 10px;
            text-align: center;
        }
        .nav a {
            padding: 3px 8px;
        }
        .apiTable{
            display: table;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 2em;
        }
        .apiTableHeading{
            display: table-header-group;
            font-weight: bold;
        }
        .apiTableHead{
            display: table-cell;
        }
        .apiTableCell{
            display: table-cell;
            padding: 3px 10px;
        }
        .apiTableRow{
            display: table-row;
        }
        .planTable{
            display: table;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 2em;
        }
        .planRow{
            display: table-row;
        }
        .planCell{
            display: table-cell;
            padding: 3px 10px;
            width: 50%;
        }
        .gwTable{
            display: table;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 2em;
        }
        .gwRow{
            display: table-row;
        }
        .gwCell{
            display: table-cell;
            padding: 3px 10px;
            width: 50%;
        }
        Body {
          font-family: Calibri, Helvetica, sans-serif;
          background-color: lightblue;
        }
        button {
          float: right;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="i8">
                <center><h1>API {{ .Name }}</h1></center>
            </div>
            <div class="nav">
                <a href="/dashboard">My APIs</a>
                <a href="/gateways">My Gateways</a>
                <a href="/users">My API Consumers</a>
            </div>
            <div class="i9">
                <p><label>Service: {{ .ServiceName }}</label></p>
                <p><label>Description: {{ .Description }}</label></p>
                <p><label>Public Domain: {{ .PublicDomain }}</label></p>
                <p><label>Path match type: {{ .PathMatchType }}</label></p>
            </div>
            <div class="apiTable">
                <div class="apiTableHeading">
                    <div class="apiTableHead">Method</div>
                    <div class="apiTableHead">Path</div>
                    <div class="apiTableHead">Security</div>
                </div>
                {{range .Operations }}
                <div class="apiTableRow">
                    <div class="apiTableCell">{{ .Method }}</div>
                    <div class="apiTableCell">{{ .Path }}</div>
                    <div class="apiTableCell">{{ .Security }}</div>
                </div>
                {{end}}
            </div>
            <div>
                <center><h3>Unauthenticated Rate Limit</h3></center>
            </div>
            <div>
                <form action="/updateunauthratelimit" method="post">
                    <input type="hidden" name="api" value="{{ .Name }}" />
                    <div>
                        <button type="submit">Update Unauthenticated Rate Limit</button>
                    </div>
                    <div class="apiTable">
                        <div class="apiTableHeading">
                            <div class="apiTableHead">Target</div>
                            <div class="apiTableHead">Daily</div>
                            <div class="apiTableHead">Monthly</div>
                            <div class="apiTableHead">Eternity</div>
                        </div>
                        <div class="apiTableRow">
                            <div class="apiTableCell">Global</div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .UnAuthGlobalDaily }}" name="rl-unauth-global-daily">
                            </div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .UnAuthGlobalMonthly }}" name="rl-unauth-global-monthly">
                            </div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .UnAuthGlobalEternity }}" name="rl-unauth-global-eternity">
                            </div>
                        </div>
                        <div class="apiTableRow">
                            <div class="apiTableCell">Remote IP</div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .UnAuthRemoteIPDaily }}" name="rl-unauth-remoteIP-daily">
                            </div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .UnAuthRemoteIPMonthly }}" name="rl-unauth-remoteIP-monthly">
                            </div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .UnAuthRemoteIPEternity }}" name="rl-unauth-remoteIP-eternity">
                            </div>
                        </div>
                        {{range .RateLimitOperations }}
                        <div class="apiTableRow">
                            <div class="apiTableCell">{{ .Operation }}</div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .Daily }}" name="rl-unauth-{{ .OperationID }}-daily">
                            </div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .Monthly }}" name="rl-unauth-{{ .OperationID }}-monthly">
                            </div>
                            <div class="apiTableCell">
                                <input type="text" value="{{ .Eternity }}" name="rl-unauth-{{ .OperationID }}-eternity">
                            </div>
                        </div>
                        {{end}}
                    </div>
                </form>
            </div>
            <div class="plans">
                <div>
                    <center><h3>Rate Limit Plans</h3></center>
                </div>
                <div class="planTable">
                    <div class="planRow">
                        <div class="planCell">
                                <ul class="itemlist">
                                    {{range .Plans }}
                                    <li>
                                        <a href="/plan?id={{ .ID }}&api={{$.Name }}">{{ .ID }}</a>
                                    </li>
                                    {{end}}
                                </ul>
                        </div>
                        <div class="planCell">
                            <form id="newPlanForm" method="get" action="/newratelimitplan">
                                <input type="hidden" name="api" value="{{ .Name }}" />
                                <button type="submit">New Rate Limit Plan</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gateways">
                <div>
                    <center><h3>Gateways</h3></center>
                </div>
                <form id="updateGwForm" method="post" action="/updateapigateway">
                    <div class="gwTable">
                        <div class="gwRow">
                            <div class="gwCell">
                                    <input type="hidden" name="api" value="{{ .Name }}" />
                                    {{range .Gateways }}
                                    <div>
                                        <input type="radio" {{if eq $.Gateway .Name}}checked{{end}} id="{{ .Name }}" name="gw" value="{{ .Name }}" required>
                                        <label for="{{ .Name }}">{{ .Name }}</label>
                                    </div>
                                    {{end}}
                                    <div>
                                    </div>
                            </div>
                            <div class="gwCell">
                                <button type="submit">Link Gateway</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
