<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kuadrant Gateways</title>
        <style>
        .container {
            width: 70%;
            margin: auto;
        }
        .i8 {
          height: 75px;
        }
        .i9 {
          height: 75px;
        }
        .apiTable{
            display: table;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 2em;
        }
        .apiTableHeading{
            display: table-header-group;
            font-weight: bold;
        }
        .apiTableHead{
            display: table-cell;
        }
        .apiTableCell{
            display: table-cell;
            padding: 3px 10px;
        }
        .apiTableRow{
            display: table-row;
        }
        #newgatewayform {
          float: right;
        }
        Body {
          font-family: Calibri, Helvetica, sans-serif;
          background-color: lightblue;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="i8">
                <center><h1>MY GATEWAYS</h1></center>
            </div>
            <div class="i9">
                <form id="newgatewayform" method="get" action="/newgateway.html">
                    <button type="submit">Deploy New Gateway</button>
                </form>
            </div>
            <div class="apiTable">
                <div class="apiTableHeading">
                    <div class="apiTableHead">Name</div>
                    <div class="apiTableHead">Description</div>
                    <div class="apiTableHead">Labels</div>
                </div>
                {{range .}}
                {{ $labels := .Spec.Labels }}
                <div class="apiTableRow">
                    <div class="apiTableCell">{{ .Name }}</div>
                    <div class="apiTableCell">{{ .Spec.Description }}</div>
                    <div class="apiTableCell">
                        {{range $k, $v := $labels}}
                            <div>{{ $k }}={{ $v }}</div>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
