<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kuadrant New API</title>
        <style>
        .container {
            width: 50%;
            margin: auto;
        }
        .i8 {
          height: 75px;
        }
        .i9 {
        }
        .nav {
            padding: 10px;
            text-align: center;
        }
        .nav a {
            padding: 3px 8px;
        }
        .apiTable{
            display: table;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 2em;
        }
        .apiTableHeading{
            display: table-header-group;
            font-weight: bold;
        }
        .apiTableHead{
            display: table-cell;
        }
        .apiTableCell{
            display: table-cell;
            padding: 3px 10px;
        }
        .apiTableRow{
            display: table-row;
        }
        Body {
          font-family: Calibri, Helvetica, sans-serif;
          background-color: lightblue;
        }
        input[type=text] {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid green;
            box-sizing: border-box;
        }
        button {
          float: right;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="i8">
                <center><h1>New API</h1></center>
            </div>
            <div class="nav">
                <a href="/dashboard">My APIs</a>
                <a href="/users">My API Consumers</a>
            </div>
            <div class="i9">
                <form action="/createnewapi" method="post">
                    <div>
                        <button type="submit">Add</button>
                    </div>
                    <input type="hidden" name="service" value="{{ .ServiceName }}" />
                    <p><label>Service: {{ .ServiceName }}</label></p>
                    <label>Description: </label>
                    <input type="text" placeholder="Enter description" name="description" required>
                    <label>Public Domain: </label>
                    <input type="text" placeholder="Enter public domain" name="publicdomain" required>
                    <label>Path match type:</label>
                    <select name="matchtype" id="match-type">
                        <option value="exact" selected>Exact</option>
                        <option value="prefix">Prefix</option>
                    </select>
                </form>
            </div>
            <div class="apiTable">
                <div class="apiTableHeading">
                    <div class="apiTableHead">Method</div>
                    <div class="apiTableHead">Path</div>
                    <div class="apiTableHead">Security</div>
                </div>
                {{range .Operations }}
                <div class="apiTableRow">
                    <div class="apiTableCell">{{ .Method }}</div>
                    <div class="apiTableCell">{{ .Path }}</div>
                    <div class="apiTableCell">{{ .Security }}</div>
                </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
